@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! Using .NET7 .devcontainer for GitHub Codespaces</h1>

Welcome to your new app. I used the .NET 7.0 .devcontainer for GitHub Codespaces to create this app.

<Counter IncrementAmount="10" />